
*{
	background-color: #C2DCCE;
}
.verticnav{
	list-style: none;
	font-size: 25px;
	
}

.table-bordered{
	border: 3px solid #444444;  
	
	height: 100px;
	width: 600px;
}

caption{
	text-align:center;
}
.product_photo{
	width: 100px
}
.shop_photo{
	width: 200px
}

img{
	width: 150px
}
$("tr td:first-child"){
	width:100px;
}

